@font-face {
  font-family: "CircularStd Black";
  src: url("fonts/CircularStd-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd Bold";
  src: url("fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd Book";
  src: url("fonts/CircularStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd Light";
  src: url("fonts/CircularStd-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd Medium";
  src: url("fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(197, 197, 197);
  font-family: "CircularStd Medium", sans-serif;
}

ul {
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.container {
  display: flex;
  width: 99%;
  height: calc(100vh - 100px);
  margin-top: 10px;
  border-radius: 10px;
}

.left-menu {
  width: 28%;
  min-width: 300px;
}

.navigation {
  height: 110px;
  display: flex;
  border-radius: 8px;
  background-color: #121212;
}

.navigation ul {
  margin-left: 30px;
}
.navigation ul li {
  margin: 22px 0;
}

.navigation i {
  font-size: 1.25rem;
  margin-right: 20px;
}

.library {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 117px);
  border-radius: 8px;
  background-color: #121212;
  padding: 20px;
}

.libtop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  height: 30px;
}
.libtopleft i {
  margin-right: 10px;
}
.libtopright i {
  margin-left: 20px;
}

.libbuttons {
  display: flex;
  width: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  margin-top: 15px;
}
.libbuttons .libbut{
  padding: 7px 12px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: #36363671;
  border: none;
}

.search {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  height: 30px;
}
.searchleft i {
  margin-right: 10px;
}
.searchright i {
  margin-left: 15px;
}

.leftlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow-y: hidden;
}

.listmemb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  margin-bottom: 10px;
  background-color: #0000001f;
  border-radius: 10px;
}

.main {
  display: flex;
  width: 100%;
  margin-left: 7px;
}

.content {
  width: 100%;
  padding: 22px;
  overflow-x: hidden;
  background-image: linear-gradient(#1F0B46, #121212 50%);
  border-radius: 8px;

}
.content::-webkit-scrollbar {
  width: 15px;
}
.content::-webkit-scrollbar-track {
  background-color: transparent;
}
.content::-webkit-scrollbar-thumb {
  background-color: #85858565;
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  padding: 10px;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  font-size: 1.8rem;
}

.navbar-left,
.navbar-right {
  list-style: none;
  display: flex; 
  color: white;
}

.navbar-left li,
.navbar-right li {
  margin-right: 17px;
}

a {
  text-decoration: none;
}

.arrows {
    color: #85858565;
}

.menubutton-long {
    width: auto;
    height: auto;
    background-color: #272727;
    border: none;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 14px;

}
.menubutton-circle {
    width: 2rem;
    height: 2rem;
    background-color: #272727;
    border: none;
    padding: 2px;
    border-radius: 50%;
    font-size: 14px;
}

.message {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}
.message2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 0 5px;
}

.toplist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.toplistul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: inherit;
}

.toplistli{
  background-color: #000;
  width: 32.5%;
  height: 96px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alllist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.alllistul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  width: 100%;
  height: inherit;
}

.alllistli{
  background-color: #000;
  width: 150px;
  height: inherit;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}